@model KuvarBlog.Models.Kategoriler
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Yeni Kategori</h2>
    <hr />
    @using (Html.BeginForm("Create", "Kategori", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(x => x.KategoriAd, null, new { @class = "form-control", placeholder = "Kategori Ad" })
                @Html.ValidationMessageFor(x => x.KategoriAd)
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    }
    @Html.HiddenFor(x => x.ID)

</div>

